html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
html {
  font-size: 0.52083333vw;
  overflow-x: hidden;
}
@media (max-width: 1024px) {
  html {
    font-size: clamp(6px, 0.9765625vw, 8px);
  }
}
body {
  background-color: var(--black-100);
  font-family: var(--font-kr);
  color: var(--font-color);
  overflow-x: hidden;
}
img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.kr {
  letter-spacing: -0.02em;
}
.en {
  font-family: var(--font-en);
}
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}
.flex-col {
  flex-direction: column;
}
